.cardReader {
  height: 100%;
}

.divider {
  width: 200px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.readerDetected {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
  font-size: 1.2em;
}

.cardInfo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.readerNotDetected {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}
